body {
	background-color: #1b1b1b;
	color: #e5e5e5;
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.content {
	margin: 25px;
}
.margin {
	margin-bottom: 15px;
}
.nav {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 45px;
	position: absolute;
	top: 0;
	right: 50px;
}
.nav_link {
	color: #e5e5e5;
	cursor: pointer;
	background: none;
	border: none;
	margin-top: 10px;
	font-size: 16px;
}
.nav_link:hover {
	color: #0066cc;
}
h2 {
	margin: 0;
}
.options {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.opt {
	padding: 0 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.opt_container {
	display: flex;
	flex-direction: row;
	gap: 45px;
	align-items: center;
}
.selectStyle {
	padding: 5px 30px;
	background-color: #e5e5e5;
	color: #1b1b1b;
	font-weight: 700;
	cursor: pointer;
}
::placeholder {
	color: #c6c6c6;
	font-weight: 500;
	opacity: 0.8;
}
.inputStyle {
	padding: 5px 10px;
	border: 0;
	background-color: #0066cc;
	color: #e5e5e5;
	border-radius: 5px;
	font-weight: 700;
	width: 175px;
}
.inputStyle_white {
	padding: 5px 10px;
	border: 0;
	background-color: #e5e5e5;
	border-radius: 5px;
	font-weight: 700;
	width: 175px;
	color: #1b1b1b;
}
.inputStyle_white::placeholder {
	color: #1b1b1b;
}
.optionStyle,
.optionStyle_large {
	padding: 8px 30px;
	border-radius: 12px;
	border: 0;
	background-color: #0066cc;
	color: #e5e5e5;
	font-weight: 700;
	cursor: pointer;
}
.optionStyle:hover,
.optionStyle_large:hover {
	background-color: #e5e5e5;
	color: #0066cc;
}
.optionStyle_large {
	width: 175px;
}
label {
	font-weight: 700;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.date {
	cursor: pointer;
	background: #e5e5e5;
}
.row {
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
}
.col {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.col_content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
